body
{
    background-color: #E2DCC8;
}
.jumbotron
{
    padding-top: 6rem;
    background-color: #0F3D3E;
}
#gallery
{
    background-color: #0F3D3E;
}
section
{
    padding-top: 5rem;
}
h1
{
    color: #ffff;
    font-family: 'Times New Roman', Times, serif;
}
h2
{
    color: #100F0F;
    font-family: 'Times New Roman', Times, serif;
}
h3
{
    color: #ffff;
    font-family: 'Times New Roman', Times, serif;
}
p
{
    color: #100F0F;
    font-family: 'Times New Roman', Times, serif;
}